
@{
    ViewBag.Title = "Index";
}

<h2>Index of Demo</h2>

<a href="#">This is a link using HTML</a>
<br />
@Html.ActionLink("This is a link using HTML Helper", "Index")
<br />
@Html.Label("FirstName")
<br />
@Html.TextBox("FirstName")
